<main>
<h1>About</h1>
    <div class="container shadow-none p-3 mb-5 bg-body-tertiary rounded">
        <p>
             This is my first <strong>Ruby on Rails</strong> project and was made to practice. 
        </p>
        <h3>Connect with me:</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://github.com/lucasberenger" target="_blank">Github</a></li>
            <li class="list-group-item"><a href="https://linkedin.com/in/lucas-berenger" target="_blank">LinkedIn</a></li>
        </ul>
            

    </div>
</main>